@charset "utf-8";
@import "../../static/sass/sassCore/base";

.pre-cover{
	width:100%;
	height:100px;
	position:relative;
	background:#333;
	.pre-share{
		position:absolute;
		height:38px;
		line-height:38px;
		right:0;
		bottom:0;
		color:#fff;
		background-color:rgba(0,0,0,0.55);				
		filter:Alpha(opacity=55);
		.lable-share{
			color:#fff;
			font-size:14px;
		}
		&:after{
			@include clearfix();
		}
		.share{
			.pre-share-icon{
				position:absolute;
				left:15px;
				top:7px;
				display:inline-block;
				height:20px;
				width:18px;
				background-image:url('./spirt.png');
				background-position:84px 0;
				vertical-align:middle;
				z-index:1;
			}
			display:block;
			float:left;
			width:75px;
			text-align:center;
		}
		.subscribe{
			display:block;
			float:right;
			width:75px;
			cursor:pointer;
			text-align:center;
			i{	
				display:inline-block;
				height:20px;
				width:18px;
				margin-top:-2px;
				background-image:url('./spirt.png');
				background-position:65px 0;
				vertical-align:middle;
			}
		}
	}
	
}
.board-title{
	margin-top:2px;	
}
.pre-wrap{
	position: relative;
    width: 1290px;
    padding: 34px 0 60px;
    margin: 0 auto;
    &:after{
    	display:block;
    	content:"";
    	clear:both;
    }
    .pre-title-head{
    	margin-top:12px;
    	border-bottom:1px solid #ddd;
    	background:#fff;
    }
    .col-1{
    	@include float(left);
    	width: 865px;
    	.pre-title{
    		background:#fff;

    		.pre-text{
    			padding:0 24px 10px 24px;
    		}
    	}    	
    }
    .col-2{
    	@include float(right);    
    	width: 415px;
    	.pre-video{
    		.more{
    			font-style:normal;
    			float:right;
    		}
    	}	
    }
}
@media screen and (min-width: 1090px) and (max-width: 1732px) {
  .pre-wrap {
	    width: 1065px;
	    .col-1{
	    	width:720px;
	    }
	    .col-2{
	    	width:335px;
	    	.match-relate-content{
		    	.match-wrap{
		    		.item-content{
		    			width:207px;
		    		}
		    	}
	    	}
	    }	    
  	}
}

@media screen and (min-width: 1733px) {
  	.w-header {
    	.inner {
     		width: 1705px;
    	}
  	}
  	.pre-wrap {
    	width: 1705px;
    	.col-1{
    		width:1280px;
    	}
    	.col-2{
    		width:415px;
    		.match-relate-content{
		    	.match-wrap{
		    		.item-content{
		    			width:287px;
		    		}
		    	}
	    	}
    	}    	
  	}
}