@charset "utf-8";
@import "../../static/sass/sassCore/base";

.task-btn{
    position: relative;
    @include inline-block();
    width: 42px;
    height: 42px;
    background-color: #8db5c3;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    font-size: 12px;
    line-height: 42px;
    margin-top: 4px;
    margin-right: 10px;
    &:hover{
        color: #fff;
    }
    &.notice{
        em{
            position: absolute;
            width: 8px;
            height: 8px;
            border-radius: 50%;
            right: 2px;
            top: 2px;
            background: #d04646;
        }

    }
}
.getbeans-btn{
    position: relative;
    @include inline-block();
    width: 40px;
    height: 40px;
    border: 1px solid #ff7e00;
    border-radius: 50%;
    color: #fff;
    vertical-align: middle;
    color: #ff7e00;
    text-align: center;
    font-size: 12px;
    .beans{
        display: block;
        background: url(./icon_2_s.png) 4px 1px no-repeat;
        padding-left: 14px;
        margin: 4px auto 1px;
        height: 17px;
    }
    .text{
        display: block;
        line-height: 0.9;
        text-align: center;
        .btn-timing{
            position: absolute;
            top: 13px;
            left: 38px;
            min-width: 42px;
            height: 16px;
            padding: 0 5px;
            font-size: 12px;
            line-height: 16px;
            color: #bbb;
            border: 1px solid #bbb;
            border-left: none;
            white-space: nowrap;
        }
        // &.line1{
        //     line-height: 44px;
        // }
        // &.line2{
        //     padding-top: 3px;
        //     line-height: 18px;
        // }
        // span{
        //     display: block;
        // }
    }
    &:hover{
        color: #ff7e00;
    }
    &.disabled{
        border: none;
        background: #bbb;
        color: #fff;
        cursor: default;
        .beans{
            padding-left: 0;

            background: url(./icon_2_m.png) top center no-repeat;

        }
    }
}

.mask-board{
    position: absolute;
    width: 400px;
    height: 236px;
    bottom: 65px;
    background: #fff;
    left: 8px;
    z-index: 10;
    display: none;
}

.mask-nav{
    @include clearfix();
    .mask-tab-wrap{
        @include float();
        width: 360px;
        .mask-tab{
            @include float();
            -webkit-box-sizing: content-box;
            -moz-box-sizing: content-box;
            box-sizing: content-box;
            width: 99px;
            border-right: 1px solid #c9c9c9;
            height: 46px;
            background: #f5f5f5;
            padding-left: 20px;
            padding-top: 8px;
            cursor: pointer;
            span{
                display: block;
                color: #434343;
                font-size: 12px;
                margin-bottom: 2px;
            }
            em{
                font-style: normal;
                color: #999;
                font-size: 12px;
            }
            &.active{
                width: 100px;
                height: 50px;
                border-top: 2px solid #c01e2f;
                background-color: #fff;
                padding-top: 12px;
                border-right: none;
                margin-top: -6px;
                cursor: default;
                margin-left: -1px;
                em{
                    color: #c01e2f;
                }
                &.first-item{
                    margin-left: 0;
                }
                &.notice{
                    background-color: #fff;
                    background-position: 86px 16px;
                }
            }
            &.notice{
                background: #f5f5f5 url(./dot.png) 86px 12px no-repeat;
            }
        }
    }
    .close{
        @include float();
        width: 40px;
        height: 54px;
        background: #f5f5f5 url(./close.png) center center no-repeat;
        cursor: pointer;
    }
}

.mask-con-wrap{
    padding: 15px 16px 0;
    position: relative;
    .mask-con{
        h3{
            font-size: 16px;
            color: #434343;
        }
        p{
            font-size: 12px;
            color: #999;
        }

    }
    .sign-tip, .share-tip{
        color: #c01e2f;
        font-size: 12px;
        text-align: center;
        margin-top: 32px;
        margin-bottom: 10px;
    }
    .share-tip{
        margin-top: 15px;
    }
    .sign-btn, .share-btn{
        display: block;
        width: 74px;
        height: 25px;
        margin: 0 auto;
        border-radius: 3px;
        background-color: #c01e2f;
        color: #fff;
        text-align: center;
        font-size: 12px;
        line-height: 25px;
        &.signed{
            background-color: #ccc;
            color: #fff;
            cursor: default;
        }
    }
    .share-btn{
        &.unGet{
            background-color: #ccc;
            color: #c01e2f;
            cursor: default;
        }
        &.canGet{
            background-color: #c01e2f;
            color: #fff;
            cursor: pointer;
        }
        &.fullGet{
            background-color: #ccc;
            color: #fff;
            cursor: default;
        }

    }
    .online-list{
        @include clearfix();
        margin-top: 15px;
        .online-item{
            @include float();
            width: 48px;
            margin-right: 30px;
            &.last-item{
                margin-right: 0;
            }
            .beans-num{
                text-align: center;
                padding-top: 19px;
                color: #ff7e00;
                margin-bottom: 5px;
                background-position: top center;
                background-repeat: no-repeat;
                &.beans-num1{
                    background-image: url(./icon_2_m.png);
                }
                &.beans-num2{
                    background-image: url(./beans2.png);
                }
                &.beans-num3{
                    background-image: url(./beans3.png);
                }
            }
            .online-btn{
                display: block;
                height: 25px;
                font-size: 12px;
                line-height: 25px;
                text-align: center;
                border-radius: 3px;
                cursor: default;
                &.finished{
                    background: #ccc;
                    color: #fff;
                }
                &.able{
                    background: #c01e2f;
                    color: #fff;
                    cursor: pointer;
                }
                &.disable{
                    background: #ccc;
                    color: #999;
                }
                &.wait{
                    background: #ccc;
                    color: #c01e2f;
                }
                &.item-timing{
                    color: #fff;
                }
            }
        }
    }
}
