@charset "utf-8";
@import "../../static/sass/sassCore/base";

.live-play {
    position: relative;
    height: 485px;
    background: #000;
    .video-js {
        height: 485px;
    }
    .live-video-rest,
    .pic {
        height: 100%;
    }
    .live-video-rest {
        display: none;
        width: 100%;
        overflow: hidden;
    }
    .pic {
        overflow: hidden;
        img {
            width: 100%;
        }
    }
    .video-mark {
        position: relative;
        top: 50%;
        left: 0;
        right: 0;
        width: 100%;
        padding: 0 10%;
        margin-top: -10px;
        text-align: center;
        font-size: 16px;
        color: #fff;
        a {
            color: #1e88e2;
        }
    }
    .game-status {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 3;
        height: 18px;
        line-height: 18px;
        padding: 0 5px;
        background: #6f6f6f;
        color: #fff;
        font-style: normal;
        font-size: 12px;
    }
    .game-status-live {
        background: #c01e2f;
    }

    .live-play-recommend {
        position: absolute;
        top: 25%;
        left: 30%;
        width: 45%;
        color: $white;
        .recommend-title {
            margin-bottom: 20px;
            font-size: 16px;
            text-align: center;
        }
        .live-announce-list {
            @include clearfix();
            li {
                position: relative;
                @include float();
                width: 50%;
                overflow: hidden;
            }
            .move-top{
                position: absolute;
                top: 72%;
                left: 0;
                background: #000;
                width: 100%;
                height: 100%;
                @include opacity(80);
                .ovrly{
                    position:relative;
                    width: 100%;
                    height: 100%;
                    .title1{
                        position: absolute;
                        top: 7px;
                        left: 0;
                        z-index: 2;
                        padding: 0 15px;
                        height: 60px;
                        overflow: hidden;
                        text-overflow:-o-ellipsis-lastline;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        -webkit-line-clamp: 1;
                        -webkit-box-orient: vertical;
                    }
                    .bottom1 {
                        position: absolute;
                        bottom: 0px;
                        left: 0;
                        right: 0;
                        z-index: 2;
                        width: 100%;
                        padding: 0 15px;
                        height: 22px;
                        overflow: hidden;
                        color:#fff;
                    }
                }
            }
            a {
                display: block;
                color: $white;
                &:hover {
                    .move-top{
                        -webkit-transition: all 0.5s;
                        -moz-transition: all 0.5s;
                        -o-transition: all 0.5s;
                        transition: all 0.5s;
                        -webkit-transform: translate(0, -72%);
                        -moz-transform: translate(0, -72%);
                        -ms-transform: translate(0, -72%);
                        -o-transform: translate(0, -72%);
                        transform: translate(0, -72%);
                        .ovrly{
                           .title1{
                            -webkit-line-clamp: 3;
                           } 
                        }
                        
                    }
                }
                .type2_score{
                    position:absolute;
                    bottom:2px;
                    right:2px;
                    background:#ff3f4c;
                    padding:0 6px;
                    font-size:12px;
                }
                /*
                &:hover {
                
                    .title {
                        top: 5px;
                        bottom: inherit;
                    }

                    .recommend-mark,
                    .bottom {
                        display: block;
                    }
                   
                }
                */
            }
            .recommend-mark {
                display: none;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                z-index: 2;
                width: 100%;
                height: 100%;
                background: #000;
                border: 3px solid #cc3333;
            }
            .pic {
//                min-height: 100px;
                img {
                    width: 100%;
                }
            }
            .title {
                position: absolute;
                bottom: 5px;
                left: 0;
                z-index: 2;
                padding: 0 15px;
                height: 22px;
                overflow: hidden;
            }
            .bottom {
                display: none;
                position: absolute;
                bottom: 5px;
                left: 0;
                right: 0;
                z-index: 2;
                width: 100%;
                padding: 0 15px;
                height: 22px;
                overflow: hidden;
            }
            .people-number {
                @include float(right);
                margin-left: 10px;
                color: #ee9a4d;
                .icon-people {
                    @include inline-block();
                    width: 20px;
                    height: 14px;
                    overflow: hidden;
                    background: url(./icon_people.png?__sprite) no-repeat 0 0;
                    vertical-align: middle;
                }
            }

        }
    }
}


@media screen and (min-width:1105px) and (max-width:1426px) {
    .live-play {
        .live-play-recommend {
            top: 20%;
            left: 25%;
            width: 50%;
        }
    }
}