@charset "utf-8";
@import "../../../static/sass/sassCore/function";
.statistics{	
	li{
		background:#fff;
		height:72px;
		margin-bottom:4px;
		margin-top:5px;
		padding:14px 0px 10px 16px;

		display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
		.avatar{
			margin-right:10px;
			.avatar_index{
				float:left;
				margin-right:12px;
				position:relative;
				i{
					background-image:url("./img/crown.png");
					background-size: cover;
					display:block;
					width:16px;
					height: 13px;
					vertical-align: -2px;
					position:absolute;
					top:0;
					left:0;
				}
				span{
					display:block;
					width:16px;
					margin-top: 10px;
					text-align:center;
					&.select{
						color:#f39800;
					}
				}
			}			
			img{
				width:37px;
				height:37px;
				border-radius: 50%;
			}
		}
		.content{	
			font-size:12px;
			color:#a9a9b2;
			width:74%;
			h3{
				color:#434141;
				font-weight: 300;
				span{
					font-size:10px;
					margin-left:10px;
					color:$morning_red_cor;;
				}
			}
			.detail{
				@include display-flex();
		    @include justify-content(space-between);
		    @include align-items(center);
				p{
					line-height:16px;
				}
				.new_player{
					color:#434141;
				}
				.zan_bain{
					margin-top:12px;
				}
				span{
					padding:4px 10px;
					border-radius:12px;
					color:#fff;
					position:relative;
					i{
						background-size:cover;
						display: inline-block;
						height:11px;
						width:11px;
						margin-right:9px;
					}
					b{
						position:absolute;
						top:-14px;
						left:30px;
						font-weight: 300;
					}
					&.zan{
						background:#ff4252;
						i{
							background-image:url(./img/zan.png);					
						}
					}
					&.bian{
						background:#8dcf5e;
						i{
							background-image:url(./img/bian.png);
							vertical-align: -2px;
						}
					}
					&.select_win{
						color:#ff4252;
						border:1px solid #ff4252;
					}
					&.finish{
						background:#ff4252;
						color:#fff;
					}
					&.selected{
						background:#d5d7c8;
						color:#999;
					}
				}
				span:active{
					opacity:0.5;
					filter:alpha(opacity=50);
					cursor:pointer;
				}
			}
		}
	}
	.null{
		display:none;
		margin-top:200px;
		p{
			text-align:center;
			color:#a9a9b2;
		}
	}
}
.night{
	.statistics{
		li{
			background:$night_white_cor;
			.avatar{
				.avatar_index span{
					color:$night_gray3_cor;
					&.select{
						color:$night_yellow_cor;
					}
				}
			}
			.content{
				color:$night_gray2_cor;
				h3{
					color:$night_gray3_cor;
					span{
						color:$night_red_cor;;
					}
				}
				.detail{
					.new_player{
						color:$night_gray3_cor;
					}
					span{
						color:$night_gray3_cor;
						&.zan{
							background:$night_red_cor;
							i{
								opacity: 0.8;
								filter:alpha(opacity=80);
							}
						}
						&.bian{
							background:#4a7b27;
							i{
								opacity: 0.8;
								filter:alpha(opacity=80);
							}
						}
					}
				}
			}
		}
		.null{
			p{
				color:$night_gray2_cor;
			}
		}
	}
}