@charset "utf-8";
/*
 * 视频
 */

@import "sass/vendor/sassCore/base";

.live-wrap {
  .room-live-video {
    dd {
        padding: 4px 0;
        line-height: 26px;
        @extend %clearfix;
    }
    .input-rtmpUrl, .editor-box {
        @include float;
        width: 70%;
        margin-right: 10px;
    }
    .editor-box {
        height: 75px;
        word-break: break-all;
    }
    .btn-textCopy {
        @include float;
        padding:0 10px;
        height: 24px;
        line-height: 24px;
        font-size: $baseFontSize;
        text-align: center;
        background:$red;
        color:$white;
        margin-right:8px;
    }
    .video-button {
        padding: 10px 0 10px 110px;
        .button-flowCode {
            @include inline-block;
            height: 26px;
            padding: 0 10px;
            font: 700 14px/26px $fontYaHei;
            text-align: center;
            background:$red;
            color:$white;
        }
    }
    .video-info{
        padding-top: 5px;
        line-height: 26px;
        text-align: center;
        font-size: $baseFontSize;
    }
    .control-label-video{
        letter-spacing: -1px;
    }
    .control-input .btn-textCopy:last-child{
        margin-right: 0;
    }
  }
  .button-send {
    @include inline-block;
    height: 32px;
    padding: 0 30px;
    margin: 10px 8px 0 110px;
    text-align:center;
    background: $red;
    border: none;
    color: $white;
    font:16px/32px $fontYaHei;
  }
  .error-live-info {
    margin: 10px 0 0 110px;
    color: $red;
  }
}
