
@import "../../static/sass/sassCore/base";

body,html{
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-user-drag: none;
    -webkit-appearance: none;
    -webkit-text-size-adjust:none;
    -webkit-user-select: none;
    background:$morning_cor3;
}
body a,
body img{
    -webkit-touch-callout:none;
}


.item-wrap{
    display:none;
}

.active-show{
    display:block;
}
.foreshow,.past-match{
    .foreshow-title{
        height:22px;
        line-height:22px;
        padding-left:10px;
        background:$morning_gray1_cor;
    }
}
body.night{
    .foreshow,.past-match{
        .foreshow-title{            
            background: $night_cor3;
        }
    }
}

