.target-wrap{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    flex-direction: column;
    display: -webkit-flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    -webkit-box-orient: vertical;
    box-orient: vertical;
    -webkit-flex-direction: column;
    flex-direction: column;
}
.layout-main{
    flex: 1;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    background-color: #fff;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

/*dropload  下拉加载loading*/
.dropload-up,.dropload-down{
    position: relative;
    height: 0;
    overflow: hidden;
    font-size: 12px;
    /* 开启硬件加速 */
    -webkit-transform:translateZ(0);
    transform:translateZ(0);
}
.dropload-down{
    height: 50px;
}
.dropload-refresh,.dropload-update,.dropload-load,.dropload-noData{
    height: 50px;
    line-height: 50px;
    text-align: center;
}
.dropload-load:before,.dropload-load:after{
    content:""
}
.dropload-load .loading,.dropload-load:before,.dropload-load:after{
    width: 15px;
    height: 15px;
    background-color: #dd0202;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
    animation: bouncedelay 1.4s infinite ease-in-out;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
}
.dropload-load:before {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}
@-webkit-keyframes bouncedelay {
    0% {
        -webkit-transform: scale(0.0);
    }
    80% {
        -webkit-transform: scale(0.0);
    }
    100% {
        -webkit-transform: scale(0.0);
    }
    40% {
        -webkit-transform: scale(1.0);
    }
}
@keyframes bouncedelay {
    0% {
        transform: scale(0.0);
    }
    80% {
        transform: scale(0.0);
    }
    100% {
        transform: scale(0.0);
    }
    40% {
        transform: scale(1.0);
    }
}