@charset "utf-8";
@import "../../static/sass/sassCore/function";

.ui-inner-tab {
	font-size: 16px;
	color: $grayDark;
	background: $white;
	&-list {
		@include display-flex();
		li {
			@include flex(1);
			text-align:center;
		}
		a {
			display: block;
			height: 42px;
			line-height: 42px;
			color: $grayDark;
		}
		.active{
			color: $morning_red_cor;
			border-bottom: 1px solid $morning_red_cor;
			a {
				color: $morning_red_cor;
			}
		}		
	}
	
}
