.w-footer {
	width: 100%;
	min-width: 990px;
	height: 57px;
	padding-top: 9px;
	text-align: center;
	font-size: 12px;
	color: #fff;
	background-color: #434141;

	a {
		color: #fff;
	}

	span {
		margin-left: 10px;
		margin-right: 10px;
	}
}
