@charset "utf-8";
/*
* @Description: 首页
* @Author: wangjun
* @Update: 2014-10-03 13:00
*/

@import "sass/vendor/sassCore/base";

.warp-error {
  text-align:center;
  .error-info {
    padding: 150px 0 50px 150px;
    text-align: left;
    color: #fff;
  }
  .error-title {
    padding-bottom: 5px;
    font-size: 22px;
  }
  .banned {
    font-size: 14px;
    font-weight: 400;
  }
  .button-prev {
    @include inline-block;
    width:155px;
    height:50px;
    margin-bottom:110px;
    line-height:50px;
    text-align:center;
    font:700 22px/50px "Microsoft Yahei";
    background:#a6171d;
    color:#fff;
  }
}

