@charset "utf-8";
@import "../../static/sass/sassCore/function";
body{
    background:$morning_gray1_cor;
}
.target_tab {
    @include display-flex();
    @include justify-content(space-between);
    @include align-items(center);
    margin-bottom:4px;
    background-color: $morning_white_cor;
    a {
        display: block;
        -webkit-box-flex: 1;
        -moz-box-flex: 1;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
        height: 50px;
        line-height: 50px;
        text-align: center;
        color: $morning_gray2_cor;
        border-bottom: 1px solid #eeebeb;
    }

    a.active {
        color: $morning_red_cor;
        border-bottom: 3px solid $morning_red_cor;
    }
}
body.night{
    background:$night_gray1_cor;
}
.night{ 
    .target_tab {
       background-color: $night_white_cor; 
        a{
           color: $night_gray3_cor; 
        }
        a.active {
            color: $night_red_cor;
            border-bottom: 3px solid $night_red_cor;
        }
    }
}