@charset "utf-8";
@import "../../../static/sass/sassCore/function";
.discuss{
	display:none;
	.title{
		background:#fff;
		padding:10px;
		h2{
			font-size:14px;
		}
		span{
			color:#a9a9b2;
			font-size:10px;
		}
		span:first-of-type{
			margin-right:22px;
		}
	}
	.reply{
		background:#fff;
		.operations-user{
			padding: 0 10px;
	    display: -moz-box;
	    display: -webkit-box;
	    display: box;
	    border-top: 1px solid #e8e8e8;
	    .user-info{
	    	padding-top: 5px;
	    	.user-name{
	    		line-height: 26px;
	    		span{
	    			display: inline-block;
    				max-width: 200px;
	    		}
	    		a{
	    			color:#434141;
	    		}
	    	}
	    	.source-left{
	    	  font-size: 12px;
			    line-height: 18px;
			    height: 18px;
			    color: #abaeb2;
			   }
	    }
	    .reply-light{
	    	color: #abaeb2;
		    font-size: 14px;
		    line-height: 30px;
		    height: 30px;
		    display: block;
		    -moz-box-flex: 1;
		    -webkit-box-flex: 1;
		    box-flex: 1;
		    text-align: right;
	    }
		}
		.reply-content{
			padding: 7px 10px 10px 50px;
  		font-size: 16px;
			.reply-quote-content{
				position: relative;
		    padding: 8px;
		    background: #eeebeb;
		    color: #a9a9b3;
		    margin-bottom: 10px;
		    .reply-quote-hd{
		    	position: relative;
			    font-size: 14px;
			    color: #434341;
			    a{
			    	color:#434341;
			    	font-weight:500;
			    }
		    }
			}
		}
		
		.user-avatar{
			display: block;
	    margin-right: 10px;
	    padding-top: 10px;
	    position: relative;
	    img{
	    	width: 30px;
		    height: 30px;
		    border-radius: 50%;
	    }
		}
	}
	.more a{
		background:#fff;
		color:#434341;
		text-align:center;
		height:36px;
		line-height:36px;
		margin-top:4px;
		display:block;
		em{
    	position: relative;
	    top: -1px;
	    left: -1px;
	    display: inline-block;
	    width: 6px;
	    height: 6px;
	    margin-left:4px;
	    border-top: 1px solid #434341;
	    border-right: 1px solid #434341;
	    -webkit-transform: rotate(45deg);
			transform: rotate(45deg); 
    }
	}
}
.night{
	.discuss{
		.title{
			background:$night_white_cor;
			color:$night_gray3_cor;
			span{
				color:$night_gray2_cor;
			}
		}
		.reply{
				background:$night_white_cor;
				.operations-user{
			    border-top: 1px solid $night_gray1_cor;
			    .user-info{
			    	.user-name{
			    		a{
			    			color:$night_gray3_cor;
			    		}
			    	}
			    	.source-left{
					    color: $night_gray2_cor;
					   }
			    }
			    .reply-light{
			    	color: $night_gray2_cor;
			    }
				}
				.reply-content{
					.reply-quote-content{
						position: relative;
				    padding: 8px;
				    background: $night_cor3;
				    color: $night_gray2_cor;
				    margin-bottom: 10px;
				    .reply-quote-hd{
				    	position: relative;
					    font-size: 14px;
					    color: $night_gray3_cor;
					    a{
					    	color:$night_gray3_cor;
					    }
				    }
					}
					.short-content{
			    	color:$night_gray3_cor;
			    }
				}
			}
		.more a{
			background:$night_white_cor;
			color:$night_gray3_cor;
			em{
		    border-top: 1px solid $night_gray3_cor;
		    border-right: 1px solid $night_gray3_cor;
	    }			
		}
	}
}