@charset "utf-8";
@import "../sass/sassCore/base";

img { max-width: 100%; pointer-events: none; }
body {
    height: 100%;
    font-size: 12px;
	color: $morning_gray3_cor;
	background-color: $morning_gray1_cor;
    -webkit-user-select: none;
	-webkit-tap-highlight-color: transparent;
}

.layout-main {
    overflow: scroll;
    position: absolute;
    width: 100%;
   /* 增加该属性，可以增加内滚动弹性 */
    -webkit-overflow-scrolling: touch;
    -mz-overflow-scrolling: touch;
    overflow-scrolling: touch;
}
.rpz-wrap{	
   
	.rpz-header{
		height:26px;
		line-height:26px;       
        color:#777777;
        padding:0 8px;
        font-weight:12px;
        background:#eeebeb;
	}
    .rpz-detail{
        background:#fff;       
        font-size:14px;
        color:#999;
        .rpz-detail-wrap{
            .item{
                min-height:67px;
                padding:10px 8px;
                border-bottom:1px solid #ddd;                
                .item-date{
                    @include display-flex();
                    .item-time{
                        @include flex(1);
                    }
                    .zrp-score{
                        right:0;
                        .win{
                            color:#c01e2f;
                        }
                        .lose{
                            color:#47b852;
                        }   
                    }
                }
            }
            .odd{
                background:#eeebeb;
            }
        }
    }
    .show-more{
        text-align:center;
        background:#eeebeb;
    }
}

body.night{
    color: $night_gray3_cor;
    background-color: $night_gray1_cor;
    .rpz-wrap{  
        background:$night_white_cor;
        .rpz-header{           
            color:$night_h5_cor6;       
            background:$night_cor3;
        }
        .rpz-detail{
            background:$night_white_cor;     
            
            color:$night_gray3_cor;
            .rpz-detail-wrap{
                .item{
                    min-height:67px;
                    padding:10px 8px;
                    border-bottom:1px solid $night_gray0_cor;                
                    .item-date{                    
                        .zrp-score{                       
                            .win{
                                color:$night_cor1;
                            }
                            .lose{
                                color:$night_green_cor;
                            }   
                        }
                    }
                }
                .odd{
                    background:$night_cor3;
                }
            }
        }
        .show-more{       
            background:$night_cor3;
        }
    }

}