@charset "utf-8";

 #guideOverlay{
 	width:100%;
 	height:150%;
 	position:absolute; 	
 	left:0px; 
 	z-index:100;
 	top:0px;
 	opacity:.8;
 	filter:alpha(opacity=80);
 	background:rgb(51,51,51);
 	display: none;

 	.guidMain{
 		margin:0 auto;
 		position:relative;
 		width:100%;
	 	#guideKnow{
		 	width:129px;
		 	height:30px;
		 	color:#fff;
		 	font-size:18px;
		 	lint-height:30px;
		 	text-align:center;
		 	border:1px solid #fff;
		 	position:fixed;
		 	cursor:pointer;
		 	top:450px;
		 	left:850px;
		 	&:hover{
		 		background:rgb(92,92,92);
		 	}
	 	}
 	}	
 }
 
  #guideOverlay{
	  img{
	  	position:absolute;	  	
	  	&.first{
		  	left:40px;
		  	top:647px;
	  	}
	  	&.second{
	  		position:fixed;
	  		top:160px;
	  		left:1000px;
	  	}
	  	&.third{
	  		position:fixed;
	  		right:0;
	  		top:280px;
	  	}
	  	&.fourth{
	  		left:1245px;
	  		top:950px;
	  	}
	  }
  }
 