@charset "utf-8";
@import "../../../static/sass/sassCore/function";

.division-area{
	background:$morning_cor2;
	.division-wrap{
		padding:0 5px 5px 5px;
		border-bottom:1px solid #d5d5d5;
		padding-top:10px;
		font-size:0px;		
		.division-item{
			height:27px;
			display:inline-block;
			font-size:14px;
			margin:5px 5px;	
			padding:0 10px;			
			line-height:25px;
			border:1px solid #d5d5d5;
			@include border-radius(13px);
			background:#eeebeb;
			text-align:center;
		}
		.active{
			color:$morning_cor1;
			background:$morning_cor2;
			border-color:$morning_cor1;
		}
	}
}
body.night{
	.division-area{
		background:$night_cor5;
		.division-wrap{			
			border-bottom:1px solid #5b5b5f;				
			.division-item{				
				border:1px solid #5b5b5f;				
				background:#5b5b5f;
			}
			.active{
				color:$night_cor5;
				background:$night_cor1;
				border-color:$night_cor1;
			}
		}
	}
}
