@charset "utf-8";
@import "../sass/sassCore/base";

.rpz-wrap{
    @include clearfix();
    width: 980px;
    margin: 10px auto 0;
}

.main-con{
    @include float();
    margin-left: 10px;
    width: 700px;
    .rpz-record{
        background: #fff;
        border-bottom: 1px solid #ddd;
        .title{
            @include clearfix();
            padding: 5px 38px 0 0;
            line-height: 24px;
            margin-bottom: 30px;
            .today-rank{
                @include float(right);
                font-size: 12px;
                color: #777;
                &:hover{
                    text-decoration: underline;
                }
            }
            .record{
                @include float();
                position: relative;
                width: 120px;
                height: 24px;
                background: #d04646;
                text-align: center;
                font-size: 14px;
                color: #fff;
                &:after{
                    content: '';
                    position: absolute;
                    width: 0;
                    height: 0;
                    right: -16px;
                    top: 0;
                    border-left: 8px solid #d04646;
                    border-right: 8px solid transparent;
                    border-top: 12px solid #d04646;
                    border-bottom: 12px solid transparent;
                }
            }
            .desc{
                @include float();
                margin-left: 25px;
                color: #999;
                font-size: 12px;
                position: relative;
                background: url(./notify-icon.png) left center no-repeat;
                padding-left: 20px;
                &:hover{
                    .rule-tips{
                        display: block;
                    }
                }
            }
        }
        .rpz-grid{
            padding: 0 35px 0 45px;
            .grid-title{
                @include clearfix();
                font-size: 12px;
                margin-bottom: 10px;
                .title-right{
                    @include float(right);
                    span{
                        color: #d04646;
                    }
                    em{
                        font-style: normal;
                        margin-left: 3px;
                        color: #5ac1f0;
                    }
                }
                .title-left{
                    span{
                        margin-right: 15px;
                    }
                }
            }
        }
    }
    .rpz-tab{
        margin:23px 0 10px 0;
        &:after{
            display:block;
            content:"";
            clear:both;
        }
        .zrp-record{
            line-height:28px;
            height:28px;
            display:block;            
            float:left;
            width:350px;
            text-align:center;
            border:1px solid #d22f33;                      
            color:#d22f33;

        }        
        .active{
            background:#d22f33;
            color:#fff;
        }
    }
    .rpz-predict-wrap{
        position:relative;
        &:after{
            content:"";
            display:block;
            clear:both;
        }        
        .zrp-detail{
            floatL:left;
            display:none;
            .rpz-predict{
                margin-bottom:30px;        
                .rpz-preTitle{
                    height:27px;
                    font-size:12px;
                    padding-left:14px;
                    line-height:27px;
                    .status{
                        margin-left:24px;
                        .pre-num{
                           font-style:normal;
                        }
                        .pre-add{
                            color:#d22f33;
                        }
                        .pre-reduce{
                            color:#59dc65;
                        }
                    }
                }
                .pre-item-option{
                    ul{
                    @include clearfix();
                    padding-top:4px;
                        .option-item{
                            @include float();
                            color:#ccc;
                            border:1px solid #ccc;
                            padding:0 8px;
                            height:20px;
                            min-height:20px;
                            word-break: break-all;
                            line-height:18px;
                            margin:5px 14px 5px 0;             
                        }
                        .status-checked{
                            background:#f5e9e9;
                            color:#d22f33;
                        }
                        .status-correct{
                            border:1px solid #d22f33;
                            color:#d22f33;
                        }
                        .status-correct-checked{
                            background:#f5e9e9;
                            border:1px solid #d22f33;
                            color:#d22f33;
                        }
                    }
                }
                .pre-list{                      
                    .pre-item{
                        @include clearfix();
                        position:relative;
                        background:#fff;  
                        padding:16px 24px 8px 24px;
                        border-bottom:1px solid #eee;                 
                        .pre-item-left{
                            @include float();  
                            padding-right:72px;
                            word-break: break-all;                               
                        }
                        .pre-item-right{
                            position:absolute;
                            right:32px;
                            height:16px;
                            min-width: 34px;                   
                            top:50%;                   
                            margin-top: -8px;
                            .voting{
                                height:18px;
                                padding:0px 5px;
                                color:#36c398;
                                border:1px solid #36c398;
                                @include border-radius(2px);
                            }
                            .disappear{
                                height:18px;
                                padding:0px 5px;
                                color:#a9a9b2;
                                border:1px solid #a9a9b2;
                                @include border-radius(2px);
                            }
                            .ready{
                                height:18px;
                                padding:0px 5px;
                                color:#a9a9b2;
                                border:1px solid #a9a9b2;
                                @include border-radius(2px);
                            }
                            .win{
                                color: #d22f33;
                                border: 1px solid #d22f33;
                                text-align: center;
                                padding: 0 8px;
                            }
                            .lose{
                                color: #59dc65;
                                border: 1px solid #59dc65;
                                text-align: center;
                                padding: 0 8px;
                            }
                        }
                    }
                }
                .more-record{
                    display: block;
                    background: #fff;
                    height: 35px;
                    border-bottom: 1px solid #DDD;
                    text-align: center;
                    font-size: 12px;
                    color: #777;
                    .arrow{
                        display: inline-block;
                        vertical-align: middle;
                        padding-top: 10px;
                        margin-right: 6px;
                        span{
                            display: block;
                            width: 0;
                            height: 0;
                            border: 8px solid transparent;
                            border-top: 8px solid #CCC;
                            position: relative;
                            &:after{
                                content: '';
                                position: absolute;
                                width: 0;
                                height: 0;
                                border: 5px solid transparent;
                                border-top: 5px solid #fff;
                                top: -8px;
                                left: -5px;
                            }
                        }
                    }
                    .txt{
                        line-height: 35px;
                    }
                }
                #J-more-btn{
                    display: block;
                    text-align:center;
                }        
            }
            .rpz-detail{
                margin-bottom:30px;
                .rpz-header{
                    height:32px;
                    line-height:32px;
                    background:#fff;            
                    border-bottom:1px solid #d2d2d2;  
                    .rpz-title{
                        margin:0 16px;
                    }
                    .rpz-text{
                        font-size:12px;
                        color:#999;
                    }
                }
                .more-btn{
                    height:40px;
                    line-height:40px;
                    text-align:center;
                    border-top:1px solid #d2d2d2;
                    background:#fff;
                    .rpz-more{                   
                        display:none;
                    }
                }
                
                .rpz-detail-wrap{
                    .rpz-item{
                        position:relative;
                        border:1px solid #eeeeee;
                        &:after{
                            display:block;
                            content:"";
                            clear:both;
                        }
                        padding:0 16px;
                        height:40px;
                        line-height:40px;
                        background:#fff;
                        .rpz-date{
                            float:left;
                            width:150px;
                            font-size:12px;
                        }
                        .rpz-content{
                            float:left;
                            width:260px;
                            font-size:12px;
                            white-space:nowrap; 
                            text-overflow:ellipsis; 
                            -o-text-overflow:ellipsis; 
                            overflow: hidden;                            
                        }
                        .rpz-score{
                            float:left;
                            width:160px;
                            font-size:12px;
                        }
                        .add{
                            color:#d22f33;
                        }
                        .reduce{
                            color:#1b8000;
                        }
                        .rpz-current{
                            float:left;                           
                            font-size:12px;
                        }
                    }
                    .odd{
                        background:#f5f5f5;
                    }
                }
            }
            .rpz-detail-empty{
                display:none;
            }
        }
        
        .active{
            display:block;
        }
        
    }
    .empty-tips{
        padding: 165px 0;
        text-align: center;
        color: #777;
        font-size: 14px;
    }
}
