@charset "utf-8";
@import "../../static/sass/sassCore/base";

.introduce-date{
	.introduce-signup{
		height:70px;
		margin-top:3px;
		background:#f9fbfc;
		&:after{
			@extend %clearfix;	
			display:block;
			content:"";
			clear:both;
		}		
		.signup-left{
			@include float(left);
			width:46px;
			line-height:70px;
			text-align:center;
			background:#eef4f6;
			margin-right:1px;
			border-right:1px solid #fff;

		}		
		.signup-right{
			float:left;			
			background:#f9fbfc;
			padding-top:8px;			
			span{
				padding-left:12px;
			}
		}
		.lrw-date{
			line-height:56px;
		}
		.match{		
			float:left;	
			margin-top:10px;			
		}		
		.signup-copy{
			color:#1993d9;
		}
		a{
			margin-left:10px;
			.triggle{			
				width:11px;
				height:16px;
				display:inline-block;
				top:2px;
				background:url('../../static/pre/spirt.png') no-repeat;
				background-position:-40px -1px;
			}				
			.signup-status{			
				padding-left:4px;	
				font-size:14px;
				color:#1993d9;
				line-height:25px;
			}
		}
		
	}
	.match-rule{
		height:46px;
		line-height:46px;
		text-align:center;
	}
}
i{
	font-style:normal;
}